<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Digex</title>
    </head>
    <body>
        <section id="content">
        {% block content %}{% endblock %}
        </section>
    </body>
</html>