<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Digex</title>
    </head>
    <body>
        <section id="content">
        {% block content %}{% endblock %}
        </section>
        <footer>
            Digex &copy; 2011-2012, Digitas France
        </footer>
    </body>
</html>